* {
    box-sizing: border-box;
}

:root {
    --darkPurple: #6c6894;
    --mediumPurple: #9287b4;
    --lightPurple: #c5c0e1;
    --mediumBlue: #91b3d2;
    --lightBlue: #c9d5e5;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--lightPurple);
    color:white;
    text-align: center;
}

.header {
    background-color: #6c6894;
    margin: 0;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
    padding: 10px 60px;
}

.header h1{
    margin: 0;
}

.header .search {
    flex: 1;
    max-width: 30%;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header input {
    text-align: center;
    font-size: larger;
    color: rgb(56, 56, 56);
    border: none;
    flex: 1;
    max-width: 80%;
}

.header input:focus {
    outline: none;
}

.search img {
    width: 30px;
    position: absolute;
    right: 10px;
}

.current {
    width: 80%;
    border-radius: 8px;
    position: relative;
    margin-top: 60px;
}

.current img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

.curTitle {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curTitle h1 {
    font-size: 45px;
}

.temp {
    font-size: 100px;
    font-weight: 500;
    margin: 0;
    position: absolute;
    top: 20%;
    right: 30px;
}

.desc {
    position: absolute;
    right: 30px;
    top: 40%;
    font-size: 40px;
}

.humidity {
    position: absolute;
    right: 30px;
    top: 54%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid var(--lightPurple);
}

.today {
    background-color: #a79fc2;
    color:white;
    width: 80%;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.hourly p {
    font-size: 1.5em;
    font-weight: 550;
    flex: 1;
}

.hourly img {
    margin-left: 160px;
    margin-right: 100px;
}

#lasthourly {
    border-bottom: none;
}

